@page "/"
@page "/home"
@inherits IndexBase
@using Kitchen.Model


@if (Recipes == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="main-overview">
        @foreach (Recipe item in Recipes)
        {
            <div class="card">
                <div class="card-header">
                    <b>@item.Title</b>
                </div>
                <img class="card-img-top imageThumbnail" src="@item.ImgUrl" />
                <div class="card-footer">
                    <a href="/detail/@item.Id" class="btn btn-primary" role="button" aria-pressed="true">Details</a>
                </div>
            </div>
        }
    </div>
}

