@page "/"
@page "/home"
@inherits IndexBase
@using Kitchen.Model


@if (Recipes == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="main-overview">
        @foreach (Recipe item in Recipes)
        {
            <div class="card">
                <div class="card-header">
                    <h3>@item.Title</h3>
                </div>
                <img class="card-img-top imageThumbnail" src="@item.ImgUrl" />
                <div class="card-footer">
                    <a href="/counter" class="btn btn-primary" role="button" aria-pressed="true">Details</a>
                </div>
            </div>
        }
        <div class="card">
            <div class="card-header">
                <h3>@Title</h3>
            </div>
            <div class="card-body">
                <p>The image of food will be here</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary">Details</button>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3>Food title</h3>
            </div>
            <div class="card-body">
                <p>The image of food will be here</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary">Details</button>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3>Food title</h3>
            </div>
            <div class="card-body">
                <p>The image of food will be here</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary">Details</button>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3>Food title</h3>
            </div>
            <div class="card-body">
                <p>The image of food will be here</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary">Details</button>
            </div>
        </div>
    </div>
}

