@page "/ParentComponent"

<h3>Parent child example</h3>
<ChildComponent Title="Title set in Parent" OnClickCallback="@ShowMessage">
    Content of the child component suplied by parent component
</ChildComponent>

<p><b>@messageText</b></p>


@code {
    private string messageText;

    private void ShowMessage(MouseEventArgs e)
    {
        messageText = $"Blaze a new trail with Blazor! ({e.ScreenX}, {e.ScreenY})";
    }
}
