@inherits LayoutComponentBase

<div class="container-fluid myContainer">
    <div class="header">
        <h1><span @onclick="BackHome">The Kitchen</span></h1>
    </div>
    <div class="main">
        @Body
    </div>
    
</div>

@code {

    @inject NavigationManager NavigationManager;

    protected void BackHome()
    {
        NavigationManager.NavigateTo("/", false);
    }
}